[submodule "LTX-Video"]
    path = LTX-Video
    url = https://github.com/zhuangsh0713/LTX-Video

[submodule "Grounded-SAM-2"]
    path = Grounded-SAM-2
    url = https://github.com/IDEA-Research/Grounded-SAM-2